
*{
	margin : 0;
	padding : 0;
	box-sizing : border-box;
}
body {
	font-family : 'Poppins', sans-serif;
}
h1 {
	font-size : 2.5rem;
	font-weight : 700;
}
h2 {
	font-size : 1.8rem;
	font-weight : 600;
}
h3 {
	font-size : 1.4rem;
	font-weight : 800;
}
h4 {
	font-size : 1.1rem;
	font-weight : 600;
}
h5 {
	font-size : 1rem;
	font-weight : 400;
	color: #1d1d1d;
}
h6 {
	color: #D8D8D8;
}
button{
	font-size:0.8rem;
	font-weight:700;
	outline:none;
	border:none;
	background-color:gold;
	color: black;
	padding:13px 30px;
	cursor: pointer;
	text-transform:uppercase;
	border-radius:8px;
	transition:0.3s ease;
}
button:hover{
	color:white;
	background-color:black;
}
hr{
	width:50px;
	height:2px;
	background-color:gold;
}
.star{
	padding:10px 0;
}
.star i{
	font-size:0.8rem;
	color:goldenrod;
}

.navbar{
	font-size: 16px;
	background-color: black;
	top:0;
	left:0;
	box-shadow: 0 5px 10px (0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link{
	padding: 0 20px;
	color: white;
	transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active{
	color: gold;
}
.navbar img{
	height: 70px;
	width: 200px;
}
.navbar i{
	color:white;
	font-size: 1.2rem;
	padding: 0 7px;
	cursor: pointer;
	font-weight: 500;
	transition:0.3s ease;	
}
#bar {
	font-size:1.5rem;
	padding:0.7px;
	cursor:pointer;
	font-weight:500;
	transition:0.3s ease;
	color:white;
}
#bar:hover,
#bar.active{
	color:black;
}
.navbar-light .navbar-toggler{
	border:none;
	outline:none;
}
@media only screen and (max-width: 991px){
	body > nav > div > button:hover,
	body > nav > div > button:focus{
		background-color:gold;
	}
	#navbarSupportedContent > ul{
		margin:1rem;
		justify-content: flex-end;
		align-items: flex-end;
		align-items: flex-end;
		text-align: right;
	}
	#navbarSupportedContent > ul > li:nth-child(n) > a{
		padding:10px 0;
	}
}
#home{
	background-image: url("img/Menbg.jpg");
	width:100%;
	height:100vh;
	background-size:cover;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
#home span{
	color: Gold;
}
#home p{
	text-transform:capitalize;
}
#Latest .one img{
	width:100%;
	height:100%;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
}
#Latest .one .details{
	width:100%;
	height:100%;
	top:0;
	left:0;
	position:absolute;
	transition:0.3s ease;
}
#Latest .one:hover .details{
	cursor:pointer;
	background-color: rgba(255,215,0,0.5);
}
#Latest .one .details button{
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	color:gold;
	background:none;
	text-transform:uppercase;
	border-bottom: 1px solid #333;
	padding:0.5px;
	transform: translateY(70px);
	transition: 0.3s ease;
}
#Latest .one .details button:hover{
	color: black;
	border-bottom: 1px solid #333;
}
#Latest .one:nth-child(1) .details{
	color:black;
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:flex-start;
	text-align: start;
	
}
#Latest .one:nth-child(2) .details{
	color:white;
	display:flex;
	
	justify-content:center;
	flex-direction:column;
	align-items:center;
	text-align:center;
	
}
#Latest .one:nth-child(3) .details{
	display:flex;
	color:gold;
	justify-content:center;
	flex-direction:column;
	align-items:flex-end;
	text-align:end;
}
#Latest .one{
	padding: 5px;
}
#Categories .categories{
	padding: 0 20px;
	color: black;
	width: 600;
	transition: 0.3s ease;
}
#Categories .product img{
	width:100%;
	height:70%;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
}
.product{
	cursor: pointer;
	margin-bottom:2rem;
}
.product img{
	transition:0.3s all;
}
.product:hover img{
	opacity:0.7;
}
.product .btn-price{
	transform:translateY(20px);
	opacity:0;
	transition:0.3 all;
	
}
.product:hover .btn-price{
	transform:translateY(0);
	opacity:100;
	
}
#Banner{
	background-image: url("img/banner1.jpg");
	width:100%;
	height:60vh;
	background-size:cover;
	background-position:top 70px center;
	background-image:no-repeat;
	background-attachment:fixed;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
#Banner .container h1{
	color:white;
}
#Banner .container h4{
	color:white;
	outline:1;
}
.footer-one img{
	height: 70px;
	width: 200px;
}
footer{
	background-color: black;
}
footer h5{
	color: white;
	font-size:1.2rem;
	font-weight: 700;
}
footer li{
	color: white;
	padding:10px 0;
	
}
footer li a{
	color: white;
		
}
footer li a:hover{
	color: gold;
	text-decoration:none;	
}
footer p{
	color: #999;
	font-size: 0.8rem;
	padding: 10px 0;
}
footer .copyright{
	margin: 0 10px;
}
footer .copyright a{
	color: black;
	width: 38px;
	height: 38px;
	background-color: #fff;
	display: inline-block;
	text-align: center;
	line-height: 38px;
	border-radius: 50%;
	transition: 0.3s ease;
	margin: 0 5px;
	padding: 0 10px;
}
footer .copyright a:hover{
	opacity: 20%;
}